<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Enkripsi Dekripsi RSA</title>
</head>
<body>
    <div class="playground">
        <div class="main_nav">

            <div class="left_nav">
                <img src="{{ url_for('static', filename='assets/kwok.png') }}" alt="Donut Image" width="50" class="logo">

                <div class="left_nav_text">
                    <h1 class="judul">Enkripsi Dekripsi RSA</h1>
                    <p class="judul">Keamanan Informasi</p>
                </div>

            </div>

            <div class="right_nav">
                <nav class="navigation">
                    <h1><a href="{{ url_for('github') }}">GITHUB</a></h1>
                </nav>
            </div>

        </div>
    </div>

</body>
</html>
