<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Enkripsi RSA || 227006054</title>
</head>
<body>
    <div class="playground">
        <div class="main_nav">
            <div class="left_nav">
                <img src="{{ url_for('static', filename='assets/donut.png') }}" alt="Donut Image" width="70"">
                <div class="left_nav_text">
                    <h2 class="judul">Enkripsi Donat</h2>
                    <p class="judul">Keamanan Informasi</p>
                </div>
            </div>
            <div class="right_nav">
            </div>
        </div>
    </div>
</body>
</html>
